.tiny {
    font-size: 0.7em;
}

.btn {
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 1px 1px 1px #AAAAAA;
}

.selected {
    font-weight: bold;
    background-color: #EAEAEA;
}

.glyphicon {
    cursor: pointer;
}

.numbers {
    width: 15%;
    float: left;
    text-align: right;
    padding-right: 4px;
    margin-top: 8px;
}

.stars {
    width: 15%;
    float: right;
    text-align: left;
    padding-left: 6px;
    margin-top: 12px;
}

#artists button {
    width: 70%;
    margin-bottom: 8px;
}

#pages {
    padding: 8px 16px 24px 16px;
}

#details {
    margin-bottom: 24px;
}
